<header class="center">
    <p class="category">
    </p>

    <div class='story'>
    <h1 style='font-family:tiempos'>Where do UC Berkeley students go?</h1>
    </div>
    <p class="subhead" style='font-family:tiempos'>A look at the lives of UC Berkeley students after graduation</p>
    <div class="info">
        <p>
            By <span class="byline"><a href="###">Alex Zhao</a></span>  <br /> <span class="timestamp"> <time datetime="2020-04-02T08:00-0800">JUNE 15, 2020</time></span>
        </p>
    </div>
</header>
