<header class="center">
    <p class="category">
    </p>

    <div class='story'>
    <h1 style='font-family:tiempos'>Where do Cal students go?</h1>
    </div>
    <p class="subhead" style='font-family:tiempos'>We looked at where new grads from Berkeley end up.</p>
    <div class="info">
        <p>
            By <span class="byline"><a href="###">Alex Zhao</a></span>  <br /> <span class="timestamp"> <time datetime="2020-04-02T08:00-0800">MAY 30, 2020</time></span>
        </p>
    </div>
</header>
