<!DOCTYPE html>
<meta charset="utf-8">

<body>
</body>
<!-- Load in the d3 library -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

width = 600;
if (pageWidth < 900) {
    width = pageWidth + 100;
}
if (pageWidth < 600) {
    width = pageWidth + 50;
}

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", 40)

svg.append("text")
    .attr("x", 0)
    .attr("y", 20)
    .attr("font-size", "18px")
    .attr("font-family", "Lato")
    .attr("font-weight", 600)
    .attr("fill", "black")
    .text("Major")

svg.append("text")
    .attr("x", width - 60)
    .attr("y", 20)
    .attr("font-size", "18px")
    .attr("font-family", "Lato")
    .attr("font-weight", 600)
    .attr("fill", "black")
    .text("Job")

svg.append("line")
    .attr("x1", 0)
    .attr("y1", 30)
    .attr("x2", width)
    .attr("y2", 30)
    .attr("stroke", "grey")
    .attr("stroke-opacity", 0.5)
    .attr("stroke-width", 1.5)
</script>
