<!DOCTYPE html>
<html>
<body>
  <div id='tech_line'></div>
</body>
<link rel="stylesheet" href="https://use.typekit.net/mfo3lll.css">
<!-- Load in the d3 library -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
</script>
  <head align='center'>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['sankey']});
      google.charts.setOnLoadCallback(drawChart);
      var svg_tech = d3.select("#tech_line").append("svg")

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Number');
        data.addRows([
          ["EECS","Software Engineer",188],
["Computer Science","Software Engineer",340],
["Cognitive Science","Software Engineer",52],
["Applied Math","Software Engineer",33],
["EECS","Researcher",2],
["Computer Science","Researcher",5],
["Cognitive Science","Researcher",20],
["Applied Math","Researcher",9],
["EECS","Entrepreneur",2],
["Computer Science","Entrepreneur",2],
["Cognitive Science","Entrepreneur",1],
["Applied Math","Entrepreneur",1],
["EECS","Product Manager",4],
["Computer Science","Product Manager",8],
["Cognitive Science","Product Manager",5],
["Applied Math","Product Manager",0],
["EECS","Product Designer",1],
["Computer Science","Product Designer",1],
["Cognitive Science","Product Designer",7],
["Applied Math","Product Designer",0],
["EECS","Hardware Engineer",6],
["Computer Science","Hardware Engineer",2],
["Cognitive Science","Hardware Engineer",0],
["Applied Math","Hardware Engineer",0],
["EECS","Educator",0],
["Computer Science","Educator",0],
["Cognitive Science","Educator",6],
["Applied Math","Educator",4],
["EECS","Data Analyst/Scientist",1],
["Computer Science","Data Analyst/Scientist",5],
["Cognitive Science","Data Analyst/Scientist",4],
["Applied Math","Data Analyst/Scientist",8],
["EECS","Business/Finance Analyst",3],
["Computer Science","Business/Finance Analyst",11],
["Cognitive Science","Business/Finance Analyst",9],
["Applied Math","Business/Finance Analyst",19],
        ]);

var parent = document.getElementById('sankey_tech');
var chart = new google.visualization.Sankey(document.getElementById('sankey_tech'));
width = 600;
if (parent.clientWidth < 600) { width = parent.clientWidth; height = 700;}

svg_tech.selectAll("text.tech").remove();
svg_tech.selectAll("line.tech").remove();

  svg_tech
    .attr("width", width)
    .attr("height", 40)

svg_tech.append("text")
    .attr("class", "tech")
    .attr("x", 0)
    .attr("y", 20)
    .attr("font-size", "18px")
    .attr("font-family", "Lato")
    .attr("font-weight", 600)
    .attr("fill", "black")
    .text("Major")

svg_tech.append("text")
    .attr("class", "tech")
    .attr("x", width - 60)
    .attr("y", 20)
    .attr("font-size", "18px")
    .attr("font-family", "Lato")
    .attr("font-weight", 600)
    .attr("fill", "black")
    .text("Job")

svg_tech.append("line")
    .attr("class", "tech")
    .attr("x1", 0)
    .attr("y1", 30)
    .attr("x2", width)
    .attr("y2", 30)
    .attr("stroke", "grey")
    .attr("stroke-opacity", 0.5)
    .attr("stroke-width", 1.5)
        // Sets chart options.
        width = 600;
        height = 500;
        if (parent.clientWidth < 600) { width = parent.clientWidth; height = 700;}
        var colors = ["#338A6C", "#E35660", "#479BD1", "#8F679C",
            "#F4803F", "#FED23B"]
    		var options = {
    			width: width,
    			height: height,
			sankey: {
                               link: {
                                 color: {fill: '#aec6cf'}
                                },
			      node: { colors: colors, label: {
                                    fontName: "benton-sans",
  				   fontSize: 14,
				    },
				    nodePadding: 25,
				    width: 10,
					  } },
                        tooltip: {textStyle: {fontName: 'benton-sans'}},
    				      };

        // Instantiates and draws our chart, passing in some options.
        chart.draw(data, options);
      }
      window.addEventListener("resize", drawChart);
    </script>
  </head>
  <body>
    <div id="sankey_tech"></div>
  </body>

</html>
