<!DOCTYPE html>
<html>
  <head align='center'>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['sankey']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Number');
        data.addRows([
          ["Legal Studies","Legal Assistant",16],
["Political Sci","Legal Assistant",25],
["Political Econ","Legal Assistant",1],
["Sociology","Legal Assistant",6],
["Legal Studies","Policy Analyst",2],
["Political Sci","Policy Analyst",10],
["Political Econ","Policy Analyst",1],
["Sociology","Policy Analyst",0],
["Legal Studies","Financial/Business Analyst",6],
["Political Sci","Financial/Business Analyst",10],
["Political Econ","Financial/Business Analyst",29],
["Sociology","Financial/Business Analyst",7],
["Legal Studies","Educator",8],
["Political Sci","Educator",12],
["Political Econ","Educator",3],
["Sociology","Educator",11],
["Legal Studies","Consultant",2],
["Political Sci","Consultant",8],
["Political Econ","Consultant",8],
["Sociology","Consultant",1],
["Legal Studies","Human Resources",0],
["Political Sci","Human Resources",2],
["Political Econ","Human Resources",2],
["Sociology","Human Resources",4],
["Legal Studies","Marketing",1],
["Political Sci","Marketing",4],
["Political Econ","Marketing",6],
["Sociology","Marketing",3],
["Legal Studies","NGOs",0],
["Political Sci","NGOs",6],
["Political Econ","NGOs",0],
["Sociology","NGOs",5],
["Legal Studies","Government",3],
["Political Sci","Government",5],
["Political Econ","Government",1],
["Sociology","Government",3],
["Legal Studies","Accountant/Auditor",1],
["Political Sci","Accountant/Auditor",2],
["Political Econ","Accountant/Auditor",4],
["Sociology","Accountant/Auditor",0],
["Legal Studies","Sales",0],
["Political Sci","Sales",4],
["Political Econ","Sales",2],
["Sociology","Sales",2],
["Legal Studies","Military",1],
["Political Sci","Military",3],
["Political Econ","Military",0],
["Sociology","Military",0],
        ]);

        // Sets chart options.
        width = Math.min((pageWidth) - 50, 600);
        if (width < 600) {
          height = 1.5 * width;
        }
        else {height = 500;}
    		var options = {
    			width: width,
    			height: height,
			sankey: {
                               link: {
                                 color: {fill: '#aec6cf'}
                                },
			      node: { label: {
                                   fontName: 'BentonSans',
  				   fontSize: 12,
				    },
                                  nodePadding: 25,
					  } },
                        tooltip: {textStyle: {fontName: 'BentonSans'}},
    				      };

        // Instantiates and draws our chart, passing in some options.
        var chart = new google.visualization.Sankey(document.getElementById('sankey_pol'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="sankey_pol"></div>
  </body>

</html>
