<!DOCTYPE html>
<html>
  <head align='center'>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['sankey']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Number');
        data.addRows([
          ["MCB","Masters",24],
["MCB","PhD",38],
["MCB","MD",50],
["MCB","JD",0],
["Integrative Bio","Masters",19],
["Integrative Bio","PhD",7],
["Integrative Bio","MD",9],
["Integrative Bio","JD",0],
["Public Health","Masters",45],
["Public Health","PhD",0],
["Public Health","MD",12],
["Public Health","JD",0],
["Molecular Environmental Bio","Masters",0],
["Molecular Environmental Bio","PhD",0],
["Molecular Environmental Bio","MD",5],
["Molecular Environmental Bio","JD",0],
["Political Science","Masters",19],
["Political Science","PhD",0],
["Political Science","MD",0],
["Political Science","JD",33],
["History","Masters",17],
["History","PhD",0],
["History","MD",0],
["History","JD",10],
["Philosophy","Masters",0],
["Philosophy","PhD",0],
["Philosophy","MD",0],
["Philosophy","JD",8],
["English","Masters",27],
["English","PhD",6],
["English","MD",0],
["English","JD",6],
["Legal Studies","Masters",7],
["Legal Studies","PhD",0],
["Legal Studies","MD",0],
["Legal Studies","JD",16],
["Economics","Masters",58],
["Economics","PhD",11],
["Economics","MD",0],
["Economics","JD",7],
["Sociology","Masters",20],
["Sociology","PhD",7],
["Sociology","MD",0],
["Sociology","JD",5],
["Society and Environment","Masters",0],
["Society and Environment","PhD",0],
["Society and Environment","MD",0],
["Society and Environment","JD",5],
["Physics","Masters",9],
["Physics","PhD",62],
["Physics","MD",0],
["Physics","JD",0],
["Astrophysics","Masters",0],
["Astrophysics","PhD",19],
["Astrophysics","MD",0],
["Astrophysics","JD",0],
["Math","Masters",43],
["Math","PhD",55],
["Math","MD",0],
["Math","JD",0],
["Statistics","Masters",0],
["Statistics","PhD",14],
["Statistics","MD",0],
["Statistics","JD",0],
["Computer Science","Masters",83],
["Computer Science","PhD",43],
["Computer Science","MD",0],
["Computer Science","JD",0],
["Cognitive Science","Masters",21],
["Cognitive Science","PhD",8],
["Cognitive Science","MD",0],
["Cognitive Science","JD",0],
["Psychology","Masters",20],
["Psychology","PhD",11],
["Psychology","MD",0],
["Psychology","JD",0],
["EECS","Masters",66],
["EECS","PhD",46],
["EECS","MD",0],
["EECS","JD",0],
["Materials Science","Masters",11],
["Materials Science","PhD",15],
["Materials Science","MD",0],
["Materials Science","JD",0],
["Bioengineering","Masters",9],
["Bioengineering","PhD",22],
["Bioengineering","MD",0],
["Bioengineering","JD",0],
["Mechanical Eng","Masters",36],
["Mechanical Eng","PhD",12],
["Mechanical Eng","MD",0],
["Mechanical Eng","JD",0],
["Nuclear Eng","Masters",0],
["Nuclear Eng","PhD",6],
["Nuclear Eng","MD",0],
["Nuclear Eng","JD",0],
["Engineering Physics","Masters",0],
["Engineering Physics","PhD",5],
["Engineering Physics","MD",0],
["Engineering Physics","JD",0],
["Civil Eng","Masters",35],
["Civil Eng","PhD",9],
["Civil Eng","MD",0],
["Civil Eng","JD",0],
["Environmental Sciences","Masters",6],
["Environmental Sciences","PhD",6],
["Environmental Sciences","MD",0],
["Environmental Sciences","JD",0],
["Chemistry","Masters",0],
["Chemistry","PhD",41],
["Chemistry","MD",0],
["Chemistry","JD",0],
["Chemical Eng","Masters",0],
["Chemical Eng","PhD",28],
["Chemical Eng","MD",0],
["Chemical Eng","JD",0],
["Chem Bio","Masters",0],
["Chem Bio","PhD",21],
["Chem Bio","MD",0],
["Chem Bio","JD",0],
["Business","Masters",7],
["Business","PhD",0],
["Business","MD",0],
["Business","JD",0],
["Environ Econ & Policy","Masters",10],
["Environ Econ & Policy","PhD",0],
["Environ Econ & Policy","MD",0],
["Environ Econ & Policy","JD",0],
["Architecture","Masters",12],
["Architecture","PhD",0],
["Architecture","MD",0],
["Architecture","JD",0],
["Nutritional Sci","Masters",8],
["Nutritional Sci","PhD",0],
["Nutritional Sci","MD",0],
["Nutritional Sci","JD",0],
["IEOR","Masters",7],
["IEOR","PhD",0],
["IEOR","MD",0],
["IEOR","JD",0],
["Social Welfare","Masters",24],
["Social Welfare","PhD",0],
["Social Welfare","MD",0],
["Social Welfare","JD",0],
["Media Studies","Masters",17],
["Media Studies","PhD",0],
["Media Studies","MD",0],
["Media Studies","JD",0],
["Interdisciplinary Studies","Masters",9],
["Interdisciplinary Studies","PhD",0],
["Interdisciplinary Studies","MD",0],
["Interdisciplinary Studies","JD",0],
["American Studies","Masters",5],
["American Studies","PhD",0],
["American Studies","MD",0],
["American Studies","JD",0],
["Geography","Masters",5],
["Geography","PhD",0],
["Geography","MD",0],
["Geography","JD",0],
["Peace & Conflict Studies","Masters",6],
["Peace & Conflict Studies","PhD",0],
["Peace & Conflict Studies","MD",0],
["Peace & Conflict Studies","JD",0],
["Gender & Women Studies","Masters",5],
["Gender & Women Studies","PhD",0],
["Gender & Women Studies","MD",0],
["Gender & Women Studies","JD",0],
["Anthropology","Masters",9],
["Anthropology","PhD",0],
["Anthropology","MD",0],
["Anthropology","JD",0],
["Political Econ","Masters",11],
["Political Econ","PhD",0],
["Political Econ","MD",0],
["Political Econ","JD",0],
["Linguistics","Masters",15],
["Linguistics","PhD",0],
["Linguistics","MD",0],
["Linguistics","JD",0],
["Theater","Masters",5],
["Theater","PhD",0],
["Theater","MD",0],
["Theater","JD",0],
["Rhetoric","Masters",8],
["Rhetoric","PhD",0],
["Rhetoric","MD",0],
["Rhetoric","JD",0],
["Data Science","Masters",6],
["Data Science","PhD",0],
["Data Science","MD",0],
["Data Science","JD",0],
        ]);

        width = Math.min((pageWidth) - 50, 900);
        nodePadding = 14
        if (width < 900) {
          height = 6 * width;
          nodePadding = 20
        }
        else {height = 1200;}
        // Sets chart options.
        var options = {
          width: width,
          height: height,
		    sankey: {
                    link: {
                      color: {fill: '#aec6cf'}
                      },
			      node: { label: {
  				   fontSize: 12,
                                   fontName : 'Lato',
				    },
                                nodePadding: nodePadding,
					  } },
        };

        // Instantiates and draws our chart, passing in some options.
        var chart = new google.visualization.Sankey(document.getElementById('sankey_grad'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <div class='panel'>
    <div id="sankey_grad"></div>
  </div>

</html>
