<!DOCTYPE html>
<html>
  <head align='center'>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['sankey']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', '# of Startups');
        data.addRows([
          ["UC Davis","Medical Therapeutics",25],
["UC Davis","Software & Services",4],
["UC Davis","Research Tools",4],
["UC Davis","Electronic Systems",5],
["UC Davis","Medical Diagnostics",10],
["UC Davis","Medical Devices",4],
["UC Davis","Communication, Info, & Data",4],
["UC Davis","Advanced Materials",5],
["UC Davis","Energy",5],
["UC Davis","Agriculture",9],
["UC Davis","Environmental Services",5],
["UC Davis","Transportation",1],
["UC Berkeley","Medical Therapeutics",17],
["UC Berkeley","Software & Services",97],
["UC Berkeley","Research Tools",24],
["UC Berkeley","Electronic Systems",44],
["UC Berkeley","Medical Diagnostics",14],
["UC Berkeley","Medical Devices",8],
["UC Berkeley","Communication, Info, & Data",23],
["UC Berkeley","Advanced Materials",8],
["UC Berkeley","Energy",13],
["UC Berkeley","Agriculture",7],
["UC Berkeley","Environmental Services",4],
["UC Berkeley","Transportation",1],
["UCSF","Medical Therapeutics",89],
["UCSF","Software & Services",21],
["UCSF","Research Tools",10],
["UCSF","Electronic Systems",0],
["UCSF","Medical Diagnostics",21],
["UCSF","Medical Devices",35],
["UCSF","Communication, Info, & Data",8],
["UCSF","Advanced Materials",1],
["UCSF","Energy",0],
["UCSF","Agriculture",0],
["UCSF","Environmental Services",0],
["UCSF","Transportation",0],
["Berkeley Lab Affiliates","Medical Therapeutics",7],
["Berkeley Lab Affiliates","Software & Services",3],
["Berkeley Lab Affiliates","Research Tools",9],
["Berkeley Lab Affiliates","Electronic Systems",3],
["Berkeley Lab Affiliates","Medical Diagnostics",5],
["Berkeley Lab Affiliates","Medical Devices",1],
["Berkeley Lab Affiliates","Communication, Info, & Data",1],
["Berkeley Lab Affiliates","Advanced Materials",10],
["Berkeley Lab Affiliates","Energy",9],
["Berkeley Lab Affiliates","Agriculture",1],
["Berkeley Lab Affiliates","Environmental Services",2],
["Berkeley Lab Affiliates","Transportation",0],
["UC Santa Cruz","Medical Therapeutics",1],
["UC Santa Cruz","Software & Services",5],
["UC Santa Cruz","Research Tools",7],
["UC Santa Cruz","Electronic Systems",2],
["UC Santa Cruz","Medical Diagnostics",0],
["UC Santa Cruz","Medical Devices",3],
["UC Santa Cruz","Communication, Info, & Data",1],
["UC Santa Cruz","Advanced Materials",0],
["UC Santa Cruz","Energy",2],
["UC Santa Cruz","Agriculture",0],
["UC Santa Cruz","Environmental Services",0],
["UC Santa Cruz","Transportation",1],
["UC Merced","Medical Therapeutics",0],
["UC Merced","Software & Services",2],
["UC Merced","Research Tools",0],
["UC Merced","Electronic Systems",2],
["UC Merced","Medical Diagnostics",0],
["UC Merced","Medical Devices",0],
["UC Merced","Communication, Info, & Data",2],
["UC Merced","Advanced Materials",1],
["UC Merced","Energy",1],
["UC Merced","Agriculture",0],
["UC Merced","Environmental Services",0],
["UC Merced","Transportation",0],
["UCSB","Medical Therapeutics",13],
["UCSB","Software & Services",12],
["UCSB","Research Tools",9],
["UCSB","Electronic Systems",14],
["UCSB","Medical Diagnostics",7],
["UCSB","Medical Devices",1],
["UCSB","Communication, Info, & Data",7],
["UCSB","Advanced Materials",3],
["UCSB","Energy",5],
["UCSB","Agriculture",0],
["UCSB","Environmental Services",2],
["UCSB","Transportation",0],
["UC Riverside","Medical Therapeutics",3],
["UC Riverside","Software & Services",6],
["UC Riverside","Research Tools",2],
["UC Riverside","Electronic Systems",3],
["UC Riverside","Medical Diagnostics",1],
["UC Riverside","Medical Devices",0],
["UC Riverside","Communication, Info, & Data",0],
["UC Riverside","Advanced Materials",8],
["UC Riverside","Energy",2],
["UC Riverside","Agriculture",3],
["UC Riverside","Environmental Services",0],
["UC Riverside","Transportation",0],
["UCLA","Medical Therapeutics",59],
["UCLA","Software & Services",16],
["UCLA","Research Tools",23],
["UCLA","Electronic Systems",20],
["UCLA","Medical Diagnostics",33],
["UCLA","Medical Devices",20],
["UCLA","Communication, Info, & Data",10],
["UCLA","Advanced Materials",5],
["UCLA","Energy",10],
["UCLA","Agriculture",1],
["UCLA","Environmental Services",3],
["UCLA","Transportation",1],
["UC Irvine","Medical Therapeutics",28],
["UC Irvine","Software & Services",10],
["UC Irvine","Research Tools",15],
["UC Irvine","Electronic Systems",5],
["UC Irvine","Medical Diagnostics",13],
["UC Irvine","Medical Devices",14],
["UC Irvine","Communication, Info, & Data",1],
["UC Irvine","Advanced Materials",2],
["UC Irvine","Energy",5],
["UC Irvine","Agriculture",0],
["UC Irvine","Environmental Services",0],
["UC Irvine","Transportation",0],
["UCSD","Medical Therapeutics",100],
["UCSD","Software & Services",36],
["UCSD","Research Tools",27],
["UCSD","Electronic Systems",26],
["UCSD","Medical Diagnostics",14],
["UCSD","Medical Devices",20],
["UCSD","Communication, Info, & Data",18],
["UCSD","Advanced Materials",9],
["UCSD","Energy",1],
["UCSD","Agriculture",1],
["UCSD","Environmental Services",4],
["UCSD","Transportation",3],
  ["Medical Therapeutics","Active",172],
["Software & Services","Active",91],
["Research Tools","Active",65],
["Electronic Systems","Active",56],
["Medical Diagnostics","Active",65],
["Medical Devices","Active",58],
["Communication, Info, & Data","Active",30],
["Advanced Materials","Active",27],
["Energy","Active",29],
["Agriculture","Active",11],
["Environmental Services","Active",12],
["Transportation","Active",6],
["Medical Therapeutics","Inactive",170],
["Software & Services","Inactive",121],
["Research Tools","Inactive",65],
["Electronic Systems","Inactive",68],
["Medical Diagnostics","Inactive",53],
["Medical Devices","Inactive",48],
["Communication, Info, & Data","Inactive",45],
["Advanced Materials","Inactive",25],
["Energy","Inactive",24],
["Agriculture","Inactive",11],
["Environmental Services","Inactive",7],
["Transportation","Inactive",1],
        ]);

        width = Math.min((pageWidth) - 50, 1100);
        nodePadding = 14
        if (width < 1100) {
          height = width;
          nodePadding = 20
        }
        else {height = 800;}
        // Sets chart options.
        var options = {
          width: width,
          height: height,
		    sankey: {
                    link: {
                      color: {fill: '#aec6cf'}
                      },
		      node: { label: {
                          fontName: "BentonSans",
  			  fontSize: 12,
			  },
			  nodePadding: 20,
			  width: 10,
			  } },
        };

        // Instantiates and draws our chart, passing in some options.
        var chart = new google.visualization.Sankey(document.getElementById('sankey_startup'));
            if (width > 800) {
        chart.draw(data, options);
            }
      }
    </script>
  </head>
  <body>
    <div id="sankey_startup"></div>
  </body>

</html>
