<!DOCTYPE html>
<html>
<body>
  <div id='bus_line'></div>
</body>
<!-- Load in the d3 library -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
</script>
  <head align='center'>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['sankey']});
      google.charts.setOnLoadCallback(drawChart);
      var svg_bus = d3.select("#bus_line").append("svg");

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Number');
        data.addRows([
          ["Haas","Data Analyst",5],
["Economics","Data Analyst",9],
["Haas","Financial/Business Analyst",101],
["Economics","Financial/Business Analyst",91],
["Haas","Consultant",68],
["Economics","Consultant",55],
["Haas","Software Engineer",16],
["Economics","Software Engineer",17],
["Haas","Product Manager",15],
["Economics","Product Manager",1],
["Haas","Accountant/Auditor",31],
["Economics","Accountant/Auditor",19],
["Haas","Investment Banking",56],
["Economics","Investment Banking",36],
["Haas","Research Assistant",8],
["Economics","Research Assistant",8],
["Haas","Teacher",3],
["Economics","Teacher",1],
["Haas","Policy Analyst",1],
["Economics","Policy Analyst",2],
["Haas","Legal Analyst",1],
["Economics","Legal Analyst",3],
["Haas","Marketing",16],
["Economics","Marketing",14],
["Haas","Reporter",2],
["Economics","Reporter",1],
        ]);

        var parent = document.getElementById('sankey_bus');
        var chart = new google.visualization.Sankey(document.getElementById('sankey_bus'));
        width = Math.min(600, pageWidth);
        if (parent.clientWidth < 600) { width = parent.clientWidth; height = 700;}

svg_bus
    .attr("width", width)
    .attr("height", 40);;

svg_bus.selectAll("text.bus").remove();
svg_bus.selectAll("line.bus").remove();

svg_bus.append("text")
    .attr("class", "bus")
    .attr("x", 0)
    .attr("y", 20)
    .attr("font-size", "18px")
    .attr("font-family", "Lato")
    .attr("font-weight", 600)
    .attr("fill", "black")
    .text("Major");

svg_bus.append("text")
    .attr("class", "bus")
    .attr("x", width - 60)
    .attr("y", 20)
    .attr("font-size", "18px")
    .attr("font-family", "Lato")
    .attr("font-weight", 600)
    .attr("fill", "black")
    .text("Job");

svg_bus.append("line")
    .attr("class", "bus")
    .attr("x1", 0)
    .attr("y1", 30)
    .attr("x2", width)
    .attr("y2", 30)
    .attr("stroke", "grey")
    .attr("stroke-opacity", 0.5)
    .attr("stroke-width", 1.5);

        width = 600;
        height = 600;
        if (parent.clientWidth < 600) { width = parent.clientWidth; height = 700;}
    		var options = {
    			width: width,
                        height: height,
			sankey: {
                               link: {
                                 color: {fill: '#aec6cf'}
                                },
			      node: { label: {
  				   fontSize: 14,
                                   fontName : 'BentonSans',
				    },
                                nodePadding: 20,
					  } },
                        tooltip: {textStyle: {fontName: 'BentonSans'}},
    				      };

        // Instantiates and draws our chart, passing in some options.
        chart.draw(data, options);
      }
      window.addEventListener("resize", drawChart);
    </script>
  </head>
  <body>
    <div id="sankey_bus"></div>
  </body>
</html>
