<!DOCTYPE html>
<html>
<body>
  <div id='pol_line'></div>
</body>
<link rel="stylesheet" href="https://use.typekit.net/mfo3lll.css">
<!-- Load in the d3 library -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
</script>

  <head align='center'>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['sankey']});
      google.charts.setOnLoadCallback(drawChart);
      var svg_pol = d3.select("#pol_line").append("svg");

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Number');
        data.addRows([
          ["Legal Studies","Legal Assistant",16],
["Political Sci","Legal Assistant",25],
["Political Econ","Legal Assistant",1],
["Sociology","Legal Assistant",6],
["Legal Studies","Policy Analyst",2],
["Political Sci","Policy Analyst",10],
["Political Econ","Policy Analyst",1],
["Sociology","Policy Analyst",0],
["Legal Studies","Financial/Business Analyst",6],
["Political Sci","Financial/Business Analyst",10],
["Political Econ","Financial/Business Analyst",29],
["Sociology","Financial/Business Analyst",7],
["Legal Studies","Educator",8],
["Political Sci","Educator",12],
["Political Econ","Educator",3],
["Sociology","Educator",11],
["Legal Studies","Consultant",2],
["Political Sci","Consultant",8],
["Political Econ","Consultant",8],
["Sociology","Consultant",1],
["Legal Studies","Human Resources",0],
["Political Sci","Human Resources",2],
["Political Econ","Human Resources",2],
["Sociology","Human Resources",4],
["Legal Studies","Marketing",1],
["Political Sci","Marketing",4],
["Political Econ","Marketing",6],
["Sociology","Marketing",3],
["Legal Studies","NGOs",0],
["Political Sci","NGOs",6],
["Political Econ","NGOs",0],
["Sociology","NGOs",5],
["Legal Studies","Government",3],
["Political Sci","Government",5],
["Political Econ","Government",1],
["Sociology","Government",3],
["Legal Studies","Accountant/Auditor",1],
["Political Sci","Accountant/Auditor",2],
["Political Econ","Accountant/Auditor",4],
["Sociology","Accountant/Auditor",0],
["Legal Studies","Sales",0],
["Political Sci","Sales",4],
["Political Econ","Sales",2],
["Sociology","Sales",2],
["Legal Studies","Military",1],
["Political Sci","Military",3],
["Political Econ","Military",0],
["Sociology","Military",0],
        ]);

var parent = document.getElementById('sankey_pol');
var chart = new google.visualization.Sankey(document.getElementById('sankey_pol'));
width = Math.min(600, pageWidth);
if (parent.clientWidth < 600) { width = parent.clientWidth; height = 700;}
  svg_pol
    .attr("width", width)
    .attr("height", 40)

svg_pol.selectAll("text.pol").remove();
svg_pol.selectAll("line.pol").remove();

svg_pol.append("text")
    .attr("class", "pol")
    .attr("x", 0)
    .attr("y", 20)
    .attr("font-size", "18px")
    .attr("font-family", "Lato")
    .attr("font-weight", 600)
    .attr("fill", "black")
    .text("Major")

svg_pol.append("text")
    .attr("class", "pol")
    .attr("x", width - 60)
    .attr("y", 20)
    .attr("font-size", "18px")
    .attr("font-family", "Lato")
    .attr("font-weight", 600)
    .attr("fill", "black")
    .text("Job")

svg_pol.append("line")
    .attr("class", "pol")
    .attr("x1", 0)
    .attr("y1", 30)
    .attr("x2", width)
    .attr("y2", 30)
    .attr("stroke", "grey")
    .attr("stroke-opacity", 0.5)
    .attr("stroke-width", 1.5)
        // Sets chart options.
        width = 600;
        height = 500;
        if (parent.clientWidth < 600) { width = parent.clientWidth; height = 700;}
        var colors = ["#338A6C", "#E35660", "#479BD1", "#8F679C",
            "#F4803F", "#FED23B"]
    		var options = {
    			width: width,
    			height: height,
			sankey: {
                               link: {
                                 color: {fill: '#aec6cf'}
                                },
			      node: { colors: colors, label: {
                                   fontName: 'benton-sans',
  				   fontSize: 14,
				    },
                                  nodePadding: 25,
					  } },
                        tooltip: {textStyle: {fontName: 'benton-sans'}},
    				      };

        chart.draw(data, options);
      }
      window.addEventListener("resize", drawChart);
    </script>
  </head>
  <body>
    <div id="sankey_pol"></div>
  </body>
</html>
