<!DOCTYPE html>
<html>
<body>
  <div id='bio_line'></div>
</body>
<!-- Load in the d3 library -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<link rel="stylesheet" href="https://use.typekit.net/mfo3lll.css">
<script>
</script>

  <head align='center'>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['sankey']});
      google.charts.setOnLoadCallback(drawChart);
      var svg_bio = d3.select("#bio_line").append("svg");

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Number');
        data.addRows([
          ["MCB","Researcher/Lab Assistant",102],
["Public Health","Researcher/Lab Assistant",14],
["Integrative Bio","Researcher/Lab Assistant",24],
["MCB","Medical Assistant/Scribe",17],
["Public Health","Medical Assistant/Scribe",6],
["Integrative Bio","Medical Assistant/Scribe",23],
["MCB","Policy Analyst",1],
["Public Health","Policy Analyst",9],
["Integrative Bio","Policy Analyst",0],
["MCB","Consultant",6],
["Public Health","Consultant",14],
["Integrative Bio","Consultant",2],
["MCB","Educator",7],
["Public Health","Educator",3],
["Integrative Bio","Educator",4],
["MCB","Financial/Business Analyst",9],
["Public Health","Financial/Business Analyst",8],
["Integrative Bio","Financial/Business Analyst",2],
["MCB","Technology",4],
["Public Health","Technology",1],
["Integrative Bio","Technology",2],
        ]);

        var parent = document.getElementById('sankey_bio');
        var chart = new google.visualization.Sankey(document.getElementById('sankey_bio'));
        width = Math.min(600, pageWidth);
        if (parent.clientWidth < 600) { width = parent.clientWidth; height = 700;}

    svg_bio
    .attr("width", width)
    .attr("height", 40);

svg_bio.selectAll("text.bio").remove();
svg_bio.selectAll("line.bio").remove();

svg_bio.append("text")
    .attr("class", "bio")
    .attr("x", 0)
    .attr("y", 20)
    .attr("font-size", "18px")
    .attr("font-family", "Lato")
    .attr("font-weight", 600)
    .attr("fill", "black")
    .text("Major");

svg_bio.append("text")
    .attr("class", "bio")
    .attr("x", width - 60)
    .attr("y", 20)
    .attr("font-size", "18px")
    .attr("font-family", "Lato")
    .attr("font-weight", 600)
    .attr("fill", "black")
    .text("Job");

svg_bio.append("line")
    .attr("class", "bio")
    .attr("x1", 0)
    .attr("y1", 30)
    .attr("x2", width)
    .attr("y2", 30)
    .attr("stroke", "grey")
    .attr("stroke-opacity", 0.5)
    .attr("stroke-width", 1.5);

        // Sets chart options.
        width = 600;
        height = 500;
        if (parent.clientWidth < 600) { width = parent.clientWidth; height = 700;}
        var colors = ["#338A6C", "#E35660", "#479BD1", "#8F679C",
            "#F4803F", "#FED23B"]
    		var options = {
    			width: width,
    			height: height,
			sankey: {
                               link: {
                                 color: {fill: '#aec6cf'}
                                },
			      node: { colors: colors, label: {
                                   fontName: 'benton-sans',
  				   fontSize: 14,
				    },
				    nodePadding: 25,
				    width: 10,
					  } },
                        tooltip: {textStyle: {fontName: 'benton-sans'}},
    				      };
        // Instantiates and draws our chart, passing in some options.
        chart.draw(data, options);
      }
            window.addEventListener("resize", drawChart);
    </script>
  </head>
  <body>
    <div id="sankey_bio"></div>
  </body>
</html>
