
sankey_small {
  width: 600px;
  height: 400px;

  @media only screen and (max-width: 650px) {
    width: 100% - 50;
    height: 1.5 * width
  }
}

sankey_bio {
  width: 600px;
  height: 400px;

  @media only screen and (max-width: 650px) {
    width: 100% - 50;
    height: 1.5 * width
  }
}

sankey_bus {
  width: 600px;
  height: 500px;

  @media only screen and (max-width: 650px) {
    width: 100% - 50;
    height: 1.5 * width
  }
}

sankey_pol {
  width: 600px;
  height: 400px;

  @media only screen and (max-width: 650px) {
    width: 100% - 50;
    height: 1.5 * width
  }
}

sankey_tech {
  width: 600px;
  height: 400px;

  @media only screen and (max-width: 650px) {
    width: 100% - 50;
    height: 1.5 * width
  }
}

sankey_region {
  width: 900px;
  height: 500px;

  @media only screen and (max-width: 650px) {
    width: 100% - 50;
    height: 1.5 * width
  }
}

sankey_grad {
  width: 900px;
  height: 1200px;

  @media only screen and (max-width: 950px) {
    width: 100% - 50;
    height: 6 * width
  }
}
